@page
@model Traslado_Seguro.Pages.ServicioTransporte.EditModel
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Service</h4>

<hr/>

<div class="row">
	<div class="col-md-4">
		<form method="post">
			<input type="hidden" asp-for="service.ServicioTransporte.Id">
			<div class="form-group">
				<label asp-for="service.ServicioTransporte.Fecha" class="form-label"></label>
				<input asp-for="service.ServicioTransporte.Fecha" class="form-control" />
				<span asp-validation-for="service.ServicioTransporte.Fecha" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="service.ServicioTransporte.NameConductor" class="form-label"></label>
				<input asp-for="service.ServicioTransporte.NameConductor" class="form-control" placeholder="Conductor Name" />
				<span asp-validation-for="service.ServicioTransporte.NameConductor" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="service.ServicioTransporte.Cliente" class="form-label"></label>
				<select asp-for="service.ServicioTransporte.ClienteId"
						asp-items="@(new SelectList(Model.service.ClientList, "Id", "Name"))"
						class="form-control">
				</select>
				<span asp-validation-for="service.ServicioTransporte.Cliente" class="text-danger"></span>
			</div>
			<br>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-success" />
				<a asp-page="./Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}